<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="src/assets/images/favicon.ico" />
    <link rel="stylesheet" href="src/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>State Channel Demo</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="State Channels Demo" />
    <meta
      property="og:description"
      content="The game of rock-paper-scissors implemented on the æternity blockchain using state channels"
    />
  </head>

  <body>
    <div id="app" class="container">
      <!-- #region Header -->
      <div class="header">
        <button id="reset" style="background-color: transparent; border: none">
          <img
            src="./src/assets/images/logo.png"
            :class="{ clickable: canCloseChannel || canResetApp }"
            alt="Aeternity"
          />
        </button>
        <div class="center">
          <!-- if channel is open -->
          <div class="round-info">
            <span class="title">Game</span>
            <div class="info" style="opacity: 0">
              <span class="stake">
                STAKE: <span class="stake-value"></span> Æ
              </span>
              <span class="info-seperator"> / </span>
              <span class="round-wrapper"
                >ROUND: <span class="round-index"></span
              ></span>
            </div>
          </div>
        </div>
        <div class="links">
          <a
            href="https://github.com/aeternity/state-channel-demo"
            target="_blank"
            class="button"
            >Fork repo
          </a>
          <!-- if channel is initialized and disabled if no explorer url -->
          <!-- https://testnet.aenalytics.org/accounts/${responderId} -->
          <a href="#" class="button">Check Explorer</a>
          <!-- if channel is initialized -->
          <!-- :disabled="!canCloseChannel" -->
          <button id="end-game" disabled class="button">End Game</button>
        </div>
      </div>
      <!-- #endregion -->
      <!-- #region Game-screen -->
      <div class="game-screen">
        <div class="user">
          <div class="player-info">
            <span class="name">You</span>
          </div>
          <div class="rock-paper-scissors">
            <div class="rock-paper-scissors__header">
              <div class="finalized-selection">
                <!-- empty -->
              </div>
              <h1 class="status title"></h1>
              <div class="finalized-selection">
                <div class="selection-icon" style="display: none">
                  <img
                    src="./src/assets/images/paper.png"
                    style="display: none"
                  />
                </div>
              </div>
            </div>
            <div class="selections">
              <button class="button">
                <div class="selection-icon">
                  <img src="./src/assets/images/rock.png" />
                </div>
              </button>
              <button class="button">
                <div class="selection-icon">
                  <img src="./src/assets/images/paper.png" />
                </div>
              </button>
              <button class="button">
                <div class="selection-icon">
                  <img src="./src/assets/images/scissors.png" />
                </div>
              </button>
            </div>
            <!-- #region Autoplay -->
            <div class="autoplay">
              <label for="autoplay_button" class="toggle__button">
                <span class="toggle__label"> Autoplay </span>
                <input type="checkbox" id="autoplay_button" />
                <span class="toggle__switch"></span>
              </label>
            </div>
            <!-- #endregion -->
          </div>
          <div class="balance" id="user-balance"></div>
        </div>
        <div class="bot">
          <div class="player-info">
            <span class="name">Bot</span>
          </div>
          <div class="rock-paper-scissors">
            <div class="rock-paper-scissors__header">
              <div class="finalized-selection">
                <div class="selection-icon" style="display: none">
                  <img
                    src="./src/assets/images/paper.png"
                    style="display: none"
                  />
                </div>
              </div>
              <h1 class="status title"></h1>
              <div class="finalized-selection">
                <!-- empty -->
              </div>
            </div>
          </div>
          <div class="balance" id="bot-balance"></div>
        </div>
      </div>
      <!-- #endregion -->
      <!-- #region Terminal -->
      <div class="transactions" :class="{ fullscreen: isFullscreen }">
        <div class="terminal">
          <div class="terminal__header">
            <div class="title">Terminal</div>
            <button class="expand" @click="toggleFullscreen">
              <!-- or minimize when expanded (img)-->
              <img
                src="./src/assets/svg/expand.svg"
                class="icon"
                :class="{ active: isFullscreen }"
              />
            </button>
          </div>
          <div class="ascii-text-banner">
            <pre>
  ______                                 _                             _         _                   
 / _____) _           _                 | |                           | |       | |                   
( (____ _| |_ _____ _| |_ _____     ____| |__  _____ ____  ____  _____| |     __| |_____ ____   ___  
 \____ (_   _|____ (_   _) ___ |   / ___)  _ \(____ |  _ \|  _ \| ___ | |    / _  | ___ |    \ / _ \ 
 _____) )| |_/ ___ | | |_| ____|  ( (___| | | / ___ | | | | | | | ____| |   ( (_| | ____| | | | |_| |
(______/  \__)_____|  \__)_____)   \____)_| |_\_____|_| |_|_| |_|_____)\_)   \____|_____)_|_|_|\___/ 
                                                                                          by Æternity
            </pre>
          </div>

          <div class="terminal__info">
            <p>
              State channels refer to the process in which users transact with
              one another directly outside of the blockchain, or ‘off-chain,’
              and greatly minimize their use of ‘on-chain’ operations.
            </p>
            <p>
              By clicking start game you are initiating state channel with our
              bot and you make the possibilities of the game practically
              endless. After the game is over, you can see every action recorded
              on the blockchain by checking our explorer.
            </p>
            <p>
              When being <strong>idle for 2 minutes</strong>, a timeout is
              triggered and the state channel closes.
            </p>
          </div>
          <div class="notification info" v-if="didReconnect">
            <div class="notification-text">
              After reconnecting only the last 5 rounds are saved.
            </div>
            <img
              src="./src/assets/svg/close.svg"
              alt="x"
              @click="closeNotification()"
            />
          </div>
          <div class="transactions-list">
            <!-- Transactions go here-->
            <div class="transaction-pair">
              <div
                class="transaction on-chain"
                v-if="transaction && transaction.id"
              >
                <span>[BOT]</span>
                <span> - 20:30:01 -</span>
                <span :title="transaction.id"> th_H34d...qz - </span>
                <span>Bot opened state Channel - signed</span>
              </div>
              <div
                class="transaction on-chain"
                v-if="transaction && transaction.id"
              >
                <span>[USER]</span>
                <span> - 20:30:01 -</span>
                <span :title="transaction.id"> th_H34d...qz - </span>
                <span>User opened state Channel - co-signed</span>
              </div>
            </div>
            <div class="transaction-pair">
              <div class="transaction" v-if="transaction && transaction.id">
                <span>[BOT]</span>
                <span> - 20:30:03 -</span>
                <span :title="transaction.id"> th_adg3...rq - </span>
                <span>Bot deployed the contract - signed</span>
              </div>
              <div class="transaction" v-if="transaction && transaction.id">
                <span>[USER]</span>
                <span> - 20:30:03 -</span>
                <span :title="transaction.id"> th_adg3...rq - </span>
                <span>User deployed the contract - co-signed</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #endregion -->
    </div>
    <script type="module" src="main.js"></script>
  </body>
</html>
