@import '../mediaqueries/mediaqueries.scss';
@import '../rock-paper-scissors/rock-paper-scissors.scss';

.game-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'user bot';
  grid-area: body;
  @include for-phone-only {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.user,
.bot {
  display: grid;
  grid-template-rows: 50px calc(100% - 80px) 50px;
  .balance {
    font-size: 30px;
    text-align: right;
    margin-right: var(--padding);
    font-weight: 500;
    color: var(--pink);
  }
  @include for-phone-only {
    grid-template-rows: 40px calc(100% - 60px) 40px;
    margin-top: 10px;
    .balance {
      font-size: 16px;
    }
  }
}
.user {
  grid-area: user;
  border-right: 1px solid var(--pink);
  .balance {
    text-align: left;
    margin-left: var(--padding);
  }
  @include for-phone-only {
    height: 65%;
    border-right: none;
    border-bottom: 1px solid var(--pink);
  }
}
.bot {
  grid-area: bot;
  border-left: 1px solid var(--pink);
  @include for-phone-only {
    height: 35%;
    border-left: none;
  }
}

.player-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'empty name balance';
  align-items: baseline;
  gap: 0px 0px;

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: name;
    font-size: 30px;
    font-weight: bold;
    .address {
      font-size: 20px;
      font-weight: 500;
      color: var(--pink);
      white-space: nowrap;
    }
    @include for-phone-only {
      font-size: 26px;
      .address {
        font-size: 16px;
      }
    }
    @include for-big-desktop-up {
      font-size: 40px;
    }
  }
}

.autoplay {
  margin-top: 20px;
  @include for-phone-only {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
}
