@import './fonts/fonts.scss';
@import './mediaqueries/mediaqueries.scss';
@import './header/header.scss';
@import './button/button.scss';
@import './game-screen/game-screen.scss';
@import './transactions/transactions.scss';
@import './notification/notification.scss';
@import './ascii-text-banner/ascii-text-banner.scss';
@import './toggle-button/toggle-button.scss';
@import './end-screen/end-screen.scss';

#app {
  font-family: 'Clash Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  &.container {
    display: grid;
    grid-template-columns: 1fr;
    --game-screen-height: max(240px, 32%);
    --transactions-height: calc(100% - 90px - var(--game-screen-height));
    grid-template-rows: 90px var(--game-screen-height) var(
        --transactions-height
      );
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      'header'
      'body'
      'transactions';
    height: 100vh;

    > .error {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 25px;
      text-align: center;
    }
    @include for-phone-only {
      --game-screen-height: max(325px, 45%);
      --transactions-height: calc(100% - 110px - var(--game-screen-height));
      grid-template-rows: 110px var(--game-screen-height) var(
          --transactions-height
        );
    }
    @include for-big-desktop-up {
      --game-screen-height: max(280px, 25%);
      @media (max-height: 1200px) {
        --game-screen-height: max(300px, 25%);
      }
      --transactions-height: calc(100% - 120px - var(--game-screen-height));
      grid-template-rows: 120px var(--game-screen-height) var(
          --transactions-height
        );
    }
  }
}
:root {
  --green: #42bd65;
  --pink: #d7315b;
  --gray: #f4f4f4;
  --padding: 20px;
  @include for-big-desktop-up {
    --padding: 60px;
  }
  @include for-phone-only {
    --padding: 12px;
  }
}
body {
  margin: 0;
}
