@import '../mediaqueries/mediaqueries.scss';

.transactions {
  grid-area: transactions;
  background-color: var(--gray);
  padding: min(30px, var(--padding)) var(--padding);
  max-width: 100%;
  transition: height 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  display: flex;
  flex-direction: column;

  &.fullscreen {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding-bottom: var(--padding);
    width: calc(100% - var(--padding) * 2);
    height: calc(100vh - var(--padding) * 2);
    @include for-big-desktop-up {
      height: calc(100vh - var(--padding) * 1.5);
    }
  }
  .terminal {
    &__header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 10px;
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: var(--gray);
      .title {
        width: 50%;
        font-weight: 500;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .title {
        @include for-phone-only {
          font-size: 16px;
        }
        @include for-tablet-portrait-up {
          font-size: 18px;
        }
        @include for-tablet-landscape-up {
          font-size: 24px;
        }
        @include for-desktop-up {
          font-size: 28px;
        }
      }
    }
    &__info {
      font-family: 'DM Mono', monospace;
      font-size: 12px;
      p {
        margin: 10px 0;
      }
    }
  }
  .terminal {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: max-content;
    .transactions-list {
      display: flex;
      flex-direction: column;
      .empty-list {
        font-family: 'DM Mono', monospace;
        font-size: 16px;
      }
      .transaction-pair {
        display: flex;
        flex-direction: column;
        padding: 5px;
        border-radius: 5px;
        &:nth-of-type(odd) {
          background-color: rgba(255, 255, 255, 0.5);
        }
        .transaction {
          font-family: 'DM Mono', monospace;
          font-size: 14px;
          margin-bottom: 5px;

          text-align: left;
          color: var(--pink);
          a {
            color: var(--pink);
          }
          @include for-phone-only {
            font-size: 11px;
          }
          @include for-tablet-portrait-up {
            font-size: 12px;
          }
          @include for-tablet-landscape-up {
            font-size: 14px;
          }

          span {
            word-wrap: break-word;
            word-break: break-word;
          }
          .info {
            margin-left: 20px;
          }
          &.is-user {
            color: var(--green);
            a {
              color: var(--green);
            }
          }
          &.is-info {
            color: #107ab0;
          }
          &.error {
            color: red;
          }
          .off-chain-pill,
          .on-chain-pill {
            background-color: var(--green);
            color: white;
            padding: 2px 8px;
            border-radius: 8px;
            margin-left: 5px;
            white-space: nowrap;
          }
          .off-chain-pill {
            background-color: var(--pink);
          }
        }
      }
    }
  }
}
