@import '../mediaqueries/mediaqueries.scss';

.ascii-text-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  pre {
    width: max-content;
    font-size: 7px;
    @include for-phone-only {
      font-size: 4px;
    }
    @include for-tablet-landscape-up {
      font-size: 9px;
    }
  }
}
